#carousel {
    max-width: 600px;
    position: relative;
}

img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.carousel-item,
.carousel-item-hidden {
    display: none;
}

.carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#carousel-button-prev {
    margin-left: 20px;

}
#carousel-button-next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#paragraph {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.currentDot {
    background: black;
    border-radius: 50%;
}

#text{
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}